# Vim is a menace
.*.swp
.*.swo
.*.swn
.*.swm

# python
__pycache__

# build artifacts
/site/
/content/**/*.d
/content/**/*_small.webp
/content/**/*.dot.png
/content/**/*.imginfo.json
/content/**/*.md.html
/config/fonts.css

# `make profile` artifacts
profile.out

# release artifacts
/release/

# mailing list subscribers (don't want to publish this)
/subscribers.txt
