# Vim is a menace
.*.swp
.*.swo
.*.swn
.*.swm

# python
__pycache__

# build artifacts
/site/
/content/**/*.d
/content/**/*_small.webp
/content/**/*.dot.png
/config/fonts.css

# `make profile` artifacts
profile.out

# release artifacts
/release/
