body {
	font-family: 'Akzidenz-Grotesk BQ Light';
    font-size: 16pt;
    line-height: 1.5;
    color: #24292e;
}

/* Code snippets are only as wide as their content. */
pre {
    display: table;
}

/* Make the background of code look different from surrounding text. */
code {
    background: #F0F0F0;
    font-size: 14pt;
}

table.posts {
    width: 100%;
	font-size: 16pt;
    line-height: 2;
}

table.posts > tbody > tr:nth-child(even) {
  background-color: #eee6ff
}

div.table-of-contents {
    font-size: 14pt;
}

.series-navigation {
    width: 100%;
    font-size: 12pt;
    text-align: center;
    margin-bottom: 20px;
}

.series-navigation-header {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.series-navigation-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.series-page-item .series-navigation-header {
  background-color: #eee6ff
}

.navigation-bar {
    width: 100%;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

img.preview {
    width: 100%;
    height: auto
}

/* Headers (<h1>, <h2>, etc.) are links to themselves.  Make sure they don't
look like links.  The linkiness is a hidden feature.  */
a.section-self-link {
    text-decoration: inherit;
    color: inherit;
}

/* Figures are pictures with text beneath.  I can't figure out how to
   correctly center the text ("text-align: center" centers it with respect
   to the whole horizontal area, not just the image), but I did figure out
   how to disable the default left margin, and how to italicize the caption.
*/
figure {
    margin: initial
}

figcaption {
    font-style: italic;
}
